.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rprofile
*.Rproj
src/*.o
src/*.so
src/*.dll
under_constr/src/_test.cpp
under_constr/R/_test.R
under_constr/*.RData
under_constr/data
*.bk
*.desc
under_constr/src/digest_uint8.cpp
under_constr/src/digest_bm.cpp
under_constr/src/bigmatrix.cpp
gfiles
Gac
man
safepug_*.tgz
methods/pcr.pdf
*.pdf
