Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rprofile
*.Rproj
src/*.o
src/*.so
src/*.dll
inst/doc
*.bk
*.desc
Gac
jackal_*.tgz
*.pdf
_crash_test.R
!inst/art_profiles/*.txt.gz
under_constr
