# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

# safe list
branches:
  only:
  - master

after_success:
  - Rscript -e 'library(covr); codecov()'
